<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="./forgot-password.component.css">

</head>
<body>

<div id="login-form-wrap">


  <h3 style="color: #329dd5">Forgot Password</h3>
  <br>

  <form [formGroup]="forgotpasswordform" (ngSubmit)="submitEmail()" class="row g-3 needs-validation" id="login-form">

    <p>
    <input type="text" id="email" formControlName="Email" placeholder="Enter your Email Address" required>
    <span *ngIf="!forgotpasswordform.get('Email').valid && forgotpasswordform.get('Email').touched">
        Please enter valid Email address !
    </span>
    </p>
    <p>
    <button type="submit" id="login" class="btn btn-primary" [disabled]="!forgotpasswordform.valid">Continue</button>
    </p>
    <p>
    <b><span style="color:darkslategray">{{infomsg}}</span></b>
   </p>
  </form>
</div>
</body>
</html>
