<app-header></app-header>

<div class="main">
    <!-- <div class="navigations">
      <div class="buttons" > -->
        

       
        <!-- <div><button  class="btn btn-light" (click)="navigatePrevious($event)">Previous</button></div>
        <div><button class="btn btn-light" (click)="navigateToday($event)">Today</button></div>
        <div><button class="btn btn-light" (click)="navigateNext($event)">Next</button></div>
    </div>
      <div class="buttons" >
        <div><button class="btn btn-light" (click)="displayMonth()">Month</button></div>
        <div><button class="btn btn-light"(click)="displayWorkWeek()">WorkWeek</button></div>
        <div><button class="btn btn-light"(click)="displayDay()">Day</button></div>
      </div>
    </div>  -->
    
   
  <div style="margin-top: 60px;"> 
    <button type="button" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark" style="color: white;" (click)="navigatePrevious($event)">Previous</button>
    <button type="button" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark" style="color: white;"(click)="today()">Today</button>
    <button type="button" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark" style="color: white;" (click)="navigateNext($event)">Next</button>
    <button type="button" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark" style="color: white;"(click)="displayMonth()">Month</button>
    <button type="button" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark" style="color: white;"(click)="displayWorkWeek()">WorkWeek</button>
    <button type="button" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark" style="color: white;"(click)="displayDay()">Day</button>
          
      <daypilot-calendar #calendar [config]="config" [events]="events" ></daypilot-calendar>
      <daypilot-month *ngIf="enableMonth" [config]="configMonth" [events]="events" #month></daypilot-month>
  </div>
  
  <app-footer></app-footer>

<!-- <button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button> -->