<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="./login.component.css">

</head>

<body>
  <header id="header" class="header fixed-top d-flex align-items-center"  style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);">
    <div class="d-flex align-items-center justify-content-between"> 
        <a routerLink="/pages-home" class="logo d-flex align-items-center"> 
        <img src="assets/img/HospitalLogo.png" alt=""> 
        <span class="d-none d-lg-block">CTGH</span> 
    </a>
        <!-- <i  class="bi bi-list toggle-sidebar-btn"></i> -->
     </div>
     </header>
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>

        <div class="login-form">
          <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" id="login-form" >

          <div class="sign-in-htm">
            <div class="group">
  
              <label for="user" class="label">Username</label>
              <input type="text" id="username" formControlName="username" placeholder="Username" required  class="input">
              <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched" class="error">
                Please enter valid username !
              </span>
  
            </div>
            <br>
            <div class="group">
              <label for="pass" class="label">Password</label>
              <input type="password" id="password" formControlName="password" placeholder="Password" required class="input">
              <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="error">
                Please enter valid password !
              </span>
            </div>
            <br>
            <div class="group">
              <button type="submit" id="login" class="button" [disabled]="!loginForm.valid">Submit</button>
              <p><span class="error">{{loginattemptsremaining}}</span></p>
               <span class="error">{{invalidcredentailsmsg}}</span>
            </div>
            <div class="foot-lnk">
              <a routerLink='/register' style="color: #fff;">Not a Member? Sign Up</a>
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a routerLink='/ForgotPassword' style="color: #fff;">Forgot Password?</a>
            </div>
            
          </div>
          
        </form>
        </div>
          </div>
  </div>
</body>

</html>