<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="./change-password.component.css">

</head>
<body>
<div id="login-form-wrap">




  <h3 style="color: #329dd5">Change Password</h3>  <br>
<form [formGroup]="changepasswordForm" (ngSubmit)="submitPassword()" class="row g-3 needs-validation" id="login-form">
    <p>
    <input type="password" id="currentpassword" formControlName="currentpassword" placeholder="Old Password" required>
    <span
       *ngIf="!changepasswordForm.get('currentpassword')?.valid && changepasswordForm.get('currentpassword')?.touched">
      Please enter valid username !
    </span>
    </p>
    <p>
    <input type="password" id="newpassword" formControlName="newpassword" placeholder="New Password" required>
    <span *ngIf="!changepasswordForm.get('newpassword').valid && changepasswordForm.get('newpassword').touched">
        Please enter valid password !
    </span>
    </p>
    <p>
      <input type="password" id="confirmpassword" formControlName="confirmpassword" placeholder="Confirm Password" required>
      <span *ngIf="!changepasswordForm.get('confirmpassword').valid && changepasswordForm.get('confirmpassword').touched">
          Please enter valid password !
      </span>
      </p>
    <p>
    <button type="submit" id="login" class="btn btn-primary" [disabled]="!changepasswordForm.valid">Submit</button>
    <br>
    <span style="color:red;">{{infomsg}}</span>

    </p>
      <p><a routerLink='/' style="color: #329dd5">Back to Login</a></p>

</form>
</div>
<!--login-form-wrap-->
<!-- partial -->
</body>
</html>
