<main>
    <div class="container">
       <section class="section register minlength-vh-100 d-flex flex-column align-items-left ">
          <div class="container">
             <div class="row m-5">
                <div class=" d-flex flex-column align-items-left ">
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h4 class="card-title text-center pb-0 fs-4">Patient Visit Details</h4>
                            <!-- <p class="text-center small">Enter your username & password to login</p> -->
                         </div>
                         <form class="row g-3 needs-validation"
                            novalidate col-md-4>
                            <div class="col-12 form-group">
                               <h5 style="font-weight: bold;">Demographics:</h5>
                               <ul>
                                  <li class="m-3">
                                     <div class="w-50 has-validation">
                                        <label for="title" class="form-label">Title &nbsp;</label>
                                        <label for="mr" class="radio-online"><input type="radio" name="title"
                                              formControlName="title"   value="mr" required> Mr.&nbsp;</label>
                                        <label for="ms" class="radio-online"><input type="radio" name="title"
                                              class="radio-inline" formControlName="title"   value="ms" required> Ms.&nbsp;</label>
                                        <label for="mrs" class="radio-online"><input type="radio" name="title"
                                              class="radio-inline" formControlName="title"  value="mrs"
                                              required> Mrs.&nbsp;</label>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <label for="firstName" class="form-label">First Name - </label>
                                     <div class="w-50 has-validation">
                                        <input type="text" minlength="2" formControlName="firstName" [ngModel]="firstName" class="form-control" #firstName>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <label for="lastName" class="form-label">Last Name - </label>
                                     <div class="w-50 has-validation">
                                        <input type="text" minlength="2" formControlName="lastName" [ngModel]="lastName" class="form-control" #lastName>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <label for="dob" class="form-label">DOB - </label>
                                     <div class="w-50 has-validation">
                                        <input type="date" formControlName="dob"  [ngModel]="dob" class="form-control" #dob>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <label for="age" class="form-label">Age - </label>
                                     <div class="w-50 has-validation">
                                        <input type="text" formControlName="age" [ngModel]="age" class="form-control" #age>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <div class="w-50 has-validation">
                                     <label for="gender" class="form-label">Gender - &nbsp;</label>
 
                                        <label for="male" class="radio-online"><input type="radio" name="gender"
                                              formControlName="gender"   value="male" required> Male&nbsp;</label>
                                        <label for="female" class="radio-online"><input type="radio" name="gender"
                                              class="radio-inline" formControlName="gender" 
                                              required> Female &nbsp;</label>
                                        <label for="Others" class="radio-online"><input type="radio" name="gender"
                                              class="radio-inline" formControlName="gender" 
                                              required> Others &nbsp;</label>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <label for="race" class="form-label">Race - </label>
                                     <div class="w-50 has-validation">
                                        <input type="text" formControlName="race" [ngModel]="race" class="form-control" #race>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <label for="ethnicity" class="form-label">Ethnicity - </label>
                                     <div class="w-50 has-validation">
                                        <input type="text" formControlName="ethnicity" [ngModel]="ethnicity" class="form-control" #ethnicity>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <label for="languagesKnown" class="form-label">Languages Known - </label>
                                     <div class="w-50 has-validation">
                                        <input type="text" maxlength="50" formControlName="languages" 
                                           #languagesKnown>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <label for="email" class="form-label">Email - </label>
                                     <div class="w-50 has-validation">
                                        <input type="email" formControlName="email" [ngModel]="email" class="form-control" #email>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <label for="address" class="form-label">Home Address - </label>
                                     <div class="w-50 has-validation">
                                        <input type="textarea" formControlName="address" [ngModel]="address" class="form-control" #address>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <label for="contactNum" class="form-label">Contact Number - </label>
                                     <div class="w-50 has-validation">
                                        <input type="text" formControlName="contact"  class="form-control" #contactNum>
                                     </div>
                                  </li>
                                  <li class="m-3">
                                     <label for="emergencyContact" class="form-label">Emergency Contact - </label>
                                     <div class="w-50 has-validation">
                                        <input type="text" formControlName="emergencyContact" [ngModel]="emergencyContact"  class="form-control"
                                           #emergencyContact>
                                     </div>
                                     <ul>
                                        <li class="m-3">
                                           <label for="emCFirstName" class="form-label">First Name - </label>
                                           <div class="w-50 has-validation">
                                              <input type="text" minlength="2" formControlName="emCFirstName"
                                                 class="form-control" #emCFirstName>
                                           </div>
                                        </li>
                                        <li class="m-3">
                                           <label for="emCLastName" class="form-label">Last Name - </label>
                                           <div class="w-50 has-validation">
                                              <input type="text" minlength="2" formControlName="emCLastName"
                                                 class="form-control" #emCLastName>
                                           </div>
                                        </li>
                                        <li class="m-3">
                                           <label for="emCRelationship" class="form-label">Relationship - </label>
                                           <div class="w-50 has-validation">
                                              
                                              <select  formControlName="relation" name="relation" id="relation"
                                                 class="form-control">
                                                 <option>--Select--</option>
                                                 <option ></option>
                                                 </select>   
                                           </div>
                                        </li>
                                        <li class="m-3">
                                           <label for="emCEmail" class="form-label">Email - </label>
                                           <div class="w-50 has-validation">
                                              <input type="email" formControlName="emCEmail" class="form-control"
                                                 #emCEmail>
                                           </div>
                                        </li>
 
                                        <li class="m-3">
                                           <label for="emCContactNum" class="form-label">Contact Number - </label>
                                           <div class="w-50 has-validation">
                                              <input type="text" formControlName="emCContactNum" class="form-control"
                                                 #emCContactNum>
                                           </div>
                                        </li>
                                        <li class="m-3">
                                           <label for="emCAddress" class="form-label">Address - </label>
                                           <div class="w-50 has-validation">
                                              <input type="text" formControlName="emCAddress" class="form-control"
                                                 #emCAddress>
                                           </div>
                                        </li>
                                        <li class="m-3">Do you need access to patient portal? <input type="checkbox"
                                              id="emCAccess" name="emCAccess" value="1"></li>
                                     </ul>
                                  </li>
                                  <li class="m-3">
                                     <label for="allergyDetails" class="form-label">Allergy Details - </label>
                                     <ul>
                                        <li class="m-3">Patient has any known allergies?
                                           <input type="radio" formControlName="hasAllergy" name="hasAllergy" value="true" > Yes &nbsp;
                                           <input type="radio" formControlName="hasAllergy" name="hasAllergy" value="false" > No &nbsp;
                                        </li>
                                     </ul>
 
 
                                     <div class="w-50 has-validation">
                                        <input type="text" formControlName="allergyDetails" class="form-control"
                                           #allergyDetails>Enter Allergy
                                     </div>
                                  </li>
                               </ul>
                            </div>
                            <div class="form-group row">
                               <div class="col-6">
                                  <button class="btn btn-primary w-100" onClick="edit()">Edit</button>
 
                               </div>
                               <div class="col-6">
                                  <input type="submit" class="btn btn-primary w-100" onClick="onSubmit()"value="Save">
 
                               </div>
                            </div>
 
                         </form>
                      </div>
                   </div>
 
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>
