<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center text-decoration-underline">View Notes</h5>
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th scope="col">SNo.</th>
                            <th scope="col">Receiver Name</th>
                            <th scope="col">Receiver Designation</th>
                            <th scope="col">Message</th>
                            <th scope="col">Date&Time</th>
                            <th scope="col">Response</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <th scope="row">1</th>
                            <td>Sourav</td>
                            <td>Doctor</td>
                            <td>Hi this is Sourav</td>
                            <td>23/11/2022</td>
                            <td>Received</td>
                        </tr> -->
                        <tr *ngFor="let values of dataTableValues| 
                        paginate: { itemsPerPage: 5,
                             currentPage: page,
                            totalItems: totalLength }
                            ;let i=index">
                            <td scope="row">{{i+1}}</td>
                            <td>{{values.receiverName}}</td>
                            <td>{{values.receiverDesignation}}</td>
                            <td>{{values.messageSent}}</td>
                            <td>{{values.sentDate | date:'mediumDate'}} &nbsp;{{values.sentDate | date:'shortTime'}}
                            </td>
                            <td>{{values.response}}</td>
                        </tr>
                    </tbody>
                </table>

                <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

            </div>
        </div>
    </div>
</div>