<footer id="footer" class="footer ">
    <!-- <div class="copyright"><img src="assets/img/HospitalLogo.png" alt="" style="height: 30px;width:30px;"> 
        <span>CTGH</span></div> -->
        <div class="copyright">

            <img style="height: 20px;width: 20px;" src="assets/img/HospitalLogo.png" alt="">
   
           <span >CTGH</span>
   
       </div>
 </footer>
 <!-- <a  class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>   -->

