<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="./change-password.component.css">

</head>
<body>
  <header id="header" class="header fixed-top d-flex align-items-center"  style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);">
    <div class="d-flex align-items-center justify-content-between"> 
        <a routerLink="/pages-home" class="logo d-flex align-items-center"> 
        <img src="assets/img/HospitalLogo.png" alt=""> 
        <span class="d-none d-lg-block">CTGH</span> 
    </a>
        <!-- <i  class="bi bi-list toggle-sidebar-btn"></i> -->
     </div>
     </header>
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Change Password</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>

        <div class="login-form">
<form [formGroup]="changepasswordForm" (ngSubmit)="submitPassword()" id="login-form">
  
  <div class="sign-in-htm">
    <div class="group">

    <p>
      <label for="user" class="label">Old Password</label>

    <input type="password" id="currentpassword" formControlName="currentpassword" placeholder="Old Password" required class="input">
    <span
       *ngIf="!changepasswordForm.get('currentpassword')?.valid && changepasswordForm.get('currentpassword')?.touched" class="error">
      Please enter valid username !
    </span>
    </p>
    <p>
      <label for="user" class="label">New Password</label>

    <input type="password" id="newpassword" formControlName="newpassword" placeholder="New Password" required class="input">
    <span *ngIf="!changepasswordForm.get('newpassword').valid && changepasswordForm.get('newpassword').touched" class="error">
        Please enter valid password !
    </span>
    </p>
    <p>
      <label for="user" class="label">Confirm Password</label>

      <input type="password" id="confirmpassword" formControlName="confirmpassword" placeholder="Confirm Password" required class="input">
      <span *ngIf="!changepasswordForm.get('confirmpassword').valid && changepasswordForm.get('confirmpassword').touched" class="error">
          Please enter valid password !
      </span>
      </p>
    <p>
    <button type="submit" id="login" class="button" [disabled]="!changepasswordForm.valid">Submit</button>
    <br>
    <span class="error">{{infomsg}}</span>

    </p>
      <p><a routerLink='/' style="color: #fff;">Back to Login</a></p>
</div>
</div>
</form>
</div>
</div>
</div>
</body>
</html>
